/* @keyframes lefttoright {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
} */
 h4{


    
    animation-iteration-count: infinite;
    animation-duration: 3s;
    font-style: italic;
    ;
 }